<button type="button" (click)="viewWithdrawals()">View Withdrawals</button>
<button type="button" (click)="viewDeposits()">View Deposits</button>
<button type="button" (click)="viewAll()">View All</button>

<table class="table" *ngIf="showPanel()">

  <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Amount</th>
  </thead>

  <tbody>
      <tr *ngFor="let item of (atmTransactions.transactions | transactionTypeFilter:transactionType )">
        <td>{{item.dateOfTransaction }} </td>
        <td>{{item.transactionType}}</td>
        <td>{{item.amount}}</td>
      </tr>
  </tbody>

</table>